.headerSection {
  width: 100%;
  padding-block: 10px;
  position: relative;
  z-index: 100;
}
.headerContainer {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-inline: 20px;
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: max-height 0.5s ease;
  width: 40%;
  gap: 10px;
}
.navigationBar li {
  list-style-type: none;
}
.navigationBar a {
  position: relative;
  text-decoration: none;
  color: white;
}
.navigationBar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
  border-radius: 2px;
}

.navigationBar a:hover::after {
  width: 100%;
}
.headerActions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
}
.searchInput {
  width: 0;
  opacity: 0;
  padding: 0;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 20px;
  background-color: white;
  color: black;
  transition: all 0.3s ease;
  padding-right: 35px;
}
.searchIcon {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.searchContainer:hover .searchInput {
  width: 200px;
  opacity: 1;
  padding: 0 40px 0 10px;
}
.searchInput:focus {
  width: 200px;
  opacity: 1;
  padding: 0 40px 0 10px;
}
.loginButton {
  padding-inline: 20px;
  padding-block: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 25px;
}
.burgerMenu {
  display: none;
}
@media (max-width: 768px) {
  .navigationBar {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    gap: 10px;
    z-index: 1000;
    border-radius: 0px 0px 25px 25px;
  }

  .navigationBar li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .burgerMenu {
    display: block;
    cursor: pointer;
  }
  .searchContainer:hover .searchInput {
    width: 150px;
  }
  .searchInput:focus {
    width: 150px;
  }
}
@media (max-width: 500px) {
  .logoContainer h1 {
    font-size: 22px;
  }
  .searchContainer:hover .searchInput {
    width: 100px;
  }
  .searchInput:focus {
    width: 100px;
  }
}
