.profileWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profileHeader h2 {
  color: #6d1417;
}
.profileHeader p {
  color: #666;
  font-size: 14px;
}

.profileFormArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.formCard {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.formCard h3 {
  margin-bottom: 20px;
  font-size: 18px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  color: #444;
}

.btnUpdate {
  background: #6d1417;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}

.btnUpdate:hover {
  background: #8b1a1e;
}
