.container {
  display: flex;
  max-width: var(--max-width);
  margin-inline: auto;
}
.sidebar {
  height: 100vh;
  background-color: #5d0e11;
  width: 250px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}
.sidebarContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sidebarLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebarLinks a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 15px;
}
.sidebarLinks a:hover {
  background-color: #6d1417;
}
.sidebarLinks a.active {
  background-color: #6d1417;
  font-weight: bold; /* Opcionle: e bën tekstin pak më të trashë */
}
.profileContainer {
  padding: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  gap: 6px;
}
.profileContainer:hover {
  transform: translateY(-1px);
  transition: all 0.3s ease;
}
.profilePic {
  width: 50px;
  height: 40px;
}
.adminInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.adminInfo p {
  font-size: 10px;
  color: whitesmoke;
}
.content {
  flex: 1;
  background-color: whitesmoke;
  height: 100vh;
  overflow-y: auto;
  padding: 30px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalContent {
  background-color: #fff;
  margin: 5% auto;
  width: 50%;
  border-radius: 8px;
  overflow: hidden;
}
.modalHeader {
  background: #6d1417;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding: 20px;
}

.fullWidth {
  grid-column: span 2;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.modalFooter {
  padding: 15px 20px;
  text-align: right;
}

.btnCancel {
  background: #ccc;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.btnSave {
  background: #6d1417;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
