:root {
  --primary-red: #b30000;
  --accent-red: #e63946;
  --soft-red: #fdecec;
  --dark: #1c1c1c;
  --gray: #666;
  --white: #ffffff;
}

.appointmentsSection{
  width: 100%;
  height: 100vh;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--padding-inline);
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
} 
.appointmentsPage{
    display: flex;
  flex-direction: column;
  gap: 20px;
}
