.userContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statsContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.statCard {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  border-left: 5px solid #6d1417;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statCard h3 {
  color: #666;
  text-transform: uppercase;
}

.statCard p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
