.centersSection {
  max-width: var(--max-width);
  padding-inline: var(--padding-inline);
  margin-inline: auto;
  background-color: #faf7f2;
  min-height: 100vh;
  padding-bottom: 100px;
}
.centersIntroContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.centersIntroContainer h1 {
  color: #8e0e0b;
}
.centersIntroContainer p {
  text-align: center;
}
.centerCardWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
.card {
  background-color: white;
  padding: 10px;
  max-width: 300px;
  height: 340px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08), 0 8px 30px rgba(0, 0, 0, 0.05);
}
.card:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
.card img {
  border-radius: 10px;
  width: 100%;
}
.cardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  justify-content: space-between;
}
.centerInfo {
  display: flex;
  gap: 5px;
  align-items: center;
}
.centerInfo img {
  width: 20px;
  height: 20px;
}
.centerInfo .location,
.hours {
  font-size: 12px;
}
.cardBtn {
  padding-block: 8px;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  background-color: #8e0e0b;
  color: white;
  width: 150px;
}
@media (max-width: 1024px) {
  .centerCardWrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 820px) {
  .centerCardWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .centerCardWrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
