.bloodGroupContainer {
  width: 100%;
  height: 100vh;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--padding-inline);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-block: 20px;
}
.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.bloodGroupBox {
  width: 90%;
  height: 90%;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25), 0 4px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  border-radius: 25px;
  position: relative;
  z-index: 3;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(100px);
}
.hero {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  color: white;
  padding: 20px;
  text-align: center;
}

.heroImg {
  width: 90%;
  animation: float 3s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.info {
  width: 50%;
  display: flex;
  padding: 50px;
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0px 25px 25px 0px;
  color: white;
}
.donateAndReceiveContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.backBtn {
  width: 120px;
  display: flex;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  text-decoration: none;
}
.backBtn:hover {
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}
@media (max-width: 1024px) {
  .bloodGroupBox {
    width: 100%;
  }
  .info {
    padding: 40px;
  }
  .heroImg {
    width: 80%;
  }
  .heading {
    font-size: 28px;
  }
}
@media (max-width: 820px) {
  .hero h1,
  .info h1 {
    font-size: 24px;
  }
  .bloodGroupContainer {
    height: auto;
  }
  .bloodGroupBox {
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
  }
  .hero,
  .info {
    width: 100%;
  }
  .hero {
    flex-direction: column-reverse;
  }
}
