.notifSection {
  background: #faf7f2;
  padding-inline: var(--padding-inline);
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
}
