.hero {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--padding-inline);
  width: 100%;
  height: 100vh;
  background-color: blue;
  position: relative;
  background-image: url("../../images/home/heroImage.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.55),
    rgba(0, 0, 0, 1)
  );
  z-index: 1;
  animation: moveGradient 6s ease-in-out infinite alternate;
}
@keyframes moveGradient {
  0% {
    background: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0.55),
      rgba(0, 0, 0, 1)
    );
  }
  100% {
    background: linear-gradient(
      to top,
      rgba(255, 0, 0, 0.55),
      rgba(0, 0, 0, 1)
    );
  }
}
.heroBox {
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.heroContent {
  color: white;
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 20px;
}
.heroContent h1 {
  font-size: 50px;
}
.homeBtns {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.lifeFlowImg {
  width: 60%;
}
.statsSection {
  width: 100%;
  max-width: var(--max-width);
  padding-inline: var(--padding-inline);
  margin-inline: auto;
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: whitesmoke;
}
custom-stats {
  display: block;
  width: 20%;
  min-width: 200px;
}
.donationGuideSection {
  width: 100%;
  max-width: var(--max-width);
  padding-inline: var(--padding-inline);
  padding-block: 20px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: 3px solid whitesmoke;
}
.donationGuideWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.donationGuideContainer {
  width: 250px;
  height: 100px;
  display: flex;
  gap: 20px;
}
.donationGuideImg {
  height: 40px;
  width: 40px;
}
.donationGuideContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faqSections {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  margin-bottom: 50px;
  padding-inline: var(--padding-inline);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faqItem {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease;
}

.faqItem:hover {
  transform: translateY(-2px);
}

.faqQuestion {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faqAnswer {
  max-height: 0;
  opacity: 0;
  transition: all 0.4s ease;
  margin-top: 10px;
  color: #444;
}

.faqItem.active .faqAnswer {
  max-height: 200px;
  opacity: 1;
}

.arrow {
  transition: 0.3s ease;
}

.faqItem.active .arrow {
  transform: rotate(90deg);
}
.bloodGroupSection {
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  margin-top: 50px;
  padding-inline: var(--padding-inline);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bloodGroupSlider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  overflow: hidden;
  padding: 10px;
  scroll-behavior: smooth;
}
.bloodGroupCard {
  width: 20%;
  min-width: 200px;
  height: 300px;
  border-radius: 25px;
  border: none;
  padding: 10px;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.bloodGroupCard:hover {
  cursor: pointer;
  scale: 1.04;
  transition: scale 0.5s ease;
}
.bloodBagImage {
  width: 100%;
}
.bloodGroupContent {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.bloodGroupContent a {
  color: red;
}
.sliderBtns {
  align-self: flex-end;
}
.prevBtn,
.nextBtn {
  background: #8e0e0b;
  color: white;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.prevBtn:hover,
.nextBtn:hover {
  scale: 1.04;
  transition: scale 0.5s ease;
}
@media (max-width: 1024px) {
  .heroContent h1 {
    font-size: 42px;
  }
  .lifeFlowImg {
    width: 50%;
  }
}
@media (max-width: 820px) {
  .heroBox {
    flex-direction: column-reverse;
    text-align: center;
    gap: 25px;
  }

  .heroContent {
    width: 100%;
    align-items: center;
    flex: 1;
  }

  .heroContent h1 {
    font-size: 38px;
  }

  .homeBtns {
    justify-content: center;
  }
  .statsSection {
    justify-content: center;
  }
  custom-stats {
    width: 40%;
  }
  .donationGuideSection {
    align-items: center;
  }
  .donationGuideWrapper {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .heroContent h1 {
    font-size: 32px;
  }

  .heroContent p {
    font-size: 15px;
  }

  .lifeFlowImg {
    width: 85%;
  }
}
@media (max-width: 430px) {
  .heroContent h1 {
    font-size: 28px;
  }
}
